*{
    margin: 0;
}
.cabecalho{
    background-color: #5ba4a4;
}
.caixa-1{
    width: 1600px;
    height: 160px;
    margin: 100px;
    padding: 10px;
    display: flex;
    justify-items: left;
    background-color: #f4ffff;
}
.caixa-2{
    width: 1600px;
    height: 160px;
    margin: 100px;
    padding: 10px;
    display: flex;
    justify-items: left;
    background-color: #f4ffff;
}
.caixa-3{
    width: 1600px;
    height: 160px;
    margin: 100px;
    padding: 10px;
    display: flex;
    justify-items: left;
    background-color: #f4ffff;
}
.caixa-4{
    width: 1600px;
    height: 160px;
    margin: 100px;
    padding: 10px;
    display: flex;
    justify-items: left;
    background-color: #f4ffff;
}
.caixa-5{
    width: 1600px;
    height: 160px;
    margin: 100px;
    padding: 10px;
    display: flex;
    justify-items: left;
    background-color: #f4ffff;
}
.caixa-6{
    width: 1600px;
    height: 160px;
    margin: 100px;
    padding: 10px;
    display: flex;
    justify-items: left;
    background-color: #f4ffff;
}
.caixa-7{
    width: 1600px;
    height: 160px;
    margin: 100px;
    padding: 10px;
    display: flex;
    justify-items: left;
    background-color: #f4ffff;
}
.caixa-8{
    width: 1600px;
    height: 160px;
    margin: 100px;
    padding: 10px;
    display: flex;
    justify-items: left;
    background-color: #f4ffff;
}
.caixa-9{
    width: 1600px;
    height: 150px;
    margin: 100px;
    padding: 10px;
    display: flex;
    justify-items: left;
    background-color: #f4ffff;
}
.caixa-10{
    width: 1600px;
    height: 150px;
    margin: 100px;
    padding: 10px;
    display: flex;
    justify-items: left;
    background-color: #f4ffff;
}

h2{
    color: #5ba4a4;
}
h3{
    width: 70px;
    height: 30px;
    margin: 5px;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: #5ba4a4;
}
h4{
    width: 80px;
    height: 30px;
    margin: 5px;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: #000000;
}
p{
    color: #9abdbb;
}